:root {
    /*===== Colores =====*/
    --first-color: #2dacf6;
    --input-color: #999999;
    --border-color: #DADCE0;
    /*===== Fuente y tipografia =====*/
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 0.89rem;
    --small-font-size: 0.70rem;
    --orange: #F26419;
    --yellow: #F6AE2D;
    --gray: #86BBD8;
    --blue: #33658A;
    --green: #2F4858;
}